<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.insiteo.lbs"
    android:versionCode="2"
    android:versionName="3.2.0_RC2" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true">
    </application>

</manifest>
