<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.insiteo.sampleapp" >

    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- Used to keep the location service running when app is in the background -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".SampleApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:launchMode="singleInstance"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.insiteo.lbs.ApiKey"
            android:value="@string/api_key" />
        <meta-data
            android:name="com.insiteo.lbs.ISEServerType"
            android:value="@string/server" />
        <meta-data
            android:name="com.insiteo.lbs.ISERenderMode"
            android:value="@string/render_mode" />

        <!-- boolean values should not be set as a reference to an external string -->
        <meta-data
            android:name="com.insiteo.lbs.AnalyticsAutoStart"
            android:value="true" />
        <meta-data
            android:name="com.insiteo.lbs.location.flags"
            android:value="@string/location_flags" />

        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.insiteo.sampleapp.MainActivity" />
        </activity>
    </application>

</manifest>
